{% extends "base.html" %}
{% load static %}
{% block content %}
<center>
    <div class="container">
        <p class="flow-text">
            Finding a job in India is a difficult task - especially for a fresher. <b>Trust</b> and <b>basic Decency</b> is in short supply, the existing 500+ solutions have a tendency to bombard you with fake offers/spam messages, sell your data to third party companies, force you to sign up and lock you into their platform, sell you overpriced services, rank you on the basis of whether you pay or not, have a cluttered interface with lots of ads/popups, or cater to only the top 2% of earners.<br><br>
            We realized that the jobs are out there, but they are not reaching people. We are building a platform that is <b>blazingly fast</b>, <b>amazingly simple</b> (a pleasure to use) and <b>secure</b> (we protect your data and your identity), <b>cognizant of the barriers to adoption</b>, be it educational background, socio-economic status or access to infrastructure. It seamlessly integrates <b>state-of-the-art data-driven AI/ML.</b> <br><br>
            TildeHat is being developed by a small team of geeks. Contact us at <b>support@tildehat.com</b> for feedback/criticism/questions or help in your job search. We respond to every email.</p>
    </div>
</center>
{% endblock content %}