{% extends 'base.html' %}
{% block content %}<br><br>
  <div class="container">
    <div class="is-small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices
      eleifend gravida,nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate
      semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.
    </div> <br>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="email" value="{{new_talent.email}}">
        <select name="job_id">
          {% for job in job_offer %}
            <option value="{{ job.job_id}}">{{ job.job_description }}</option>
          {% endfor %}
        </select> <br><br>
      <button class="button is-info" type="submit">Add to Hire</button>
    </form>
  </div>
{% endblock %}
